html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.emph {
  font-weight: 300;
  font-size: 30px;
}

.clickable {
  cursor: pointer;
  text-decoration: underline;
}

.nav-arrow {
  font-size: 21px;
  font-weight: 300;
}

.login-page {
  text-align: center;
}

.title {
  font-weight: 600;
  font-size: 50px;
}

.login-text {
  text-decoration: underline;
}

.page-enter {
  opacity: 0;
  transform: translateY(20px);
}

.page-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transition: opacity 300ms
}