ol {
    margin: auto;
    list-style-type: none;
    padding-inline-start: 0;
}

li {
    margin: 0.5em auto auto auto;
    font-size: 23px;
    font-weight: 300;
    /* border: 1px solid black; */
    line-height: 1.5;
}

/* .images {
    padding: 1em;
    background: black;
} */

.artists-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 70vw;
    grid-gap: 1em;
}

.tracks-list {
    width: 50vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.track {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.track-image {
    vertical-align: middle;
}

.track-info-spacing {
    margin: auto 1rem auto 1rem;
}

.track-name {
    font-size: 1.1em;
}

.artist-name {
    color: rgb(110, 110, 110);
    font-size: 0.75em;
}

.artist {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ranking-idx {
    text-align: center;
    width: 2ch;
    font-weight: 500;
}

@media screen and (max-width: 1400px) {
    .tracks-list {
        width: 70vw;
    }
}

@media screen and (max-width: 850px) {
    .tracks-list {
        width: 80vw;
    }
}

@media screen and (max-width: 656px) {
    .artists-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .artists-grid {
        grid-template-columns: 1fr;
    }

    .tracks-list {
        width: 95vw;
    }

    li {
        font-size: 20px;
        margin: auto;
        margin-bottom: 0.6em;
    }
}